.exam_correct_answer {
  color: blue;
}
.exam_question_index {
  margin-right: 10px;
  font-weight: bold;
}
.exam_question_title {
  font-weight: bold;
}
.exam-btn-question {
  margin: 2px;
}
.exam-question {
  display: none;
}
.exam_current_question {
  display: block;
}
.exam-question-index {
  font-weight: bold;
}
.exam-btn-finish-container {
  padding-top: 20px;
}
.exam-btn-finish {
  width: 100%;
}
.exam-quizz-title {
  font-size:2rem;
  font-weight: bold;
}
.exam-quizz-timer {
  font-size:2rem;
  font-weight: bold;
}
.exam-question-container {
  min-height: 300px;
}
.exam-question-content {
  padding-top: 10px;
}
.exam-question-header {
  background-color: #3e8ec4;
  color: white;
  height: 30px;
  text-align: center;
}
.exam-answers-container {
  padding-left: 20px;
}
.exam_current_question_btn {
  background-color: #d7d6d6;
  color: blue;
  font-weight: bold;
}
.exam-btn-next {
  float: right;
}
.exam_question_btn_answered {
  background-color: coral;
}
.exam-quizz-title {
  margin-bottom: 10px;
}
.modal-header {
  background-color: #3e8ec4;
  color: white;
  font-weight: bold;
}
